body {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-image: url("/spritecomic/background3.jpg");
}

hr {
  border: 1px dashed #bbb;
  width: 70%;
}

.main {
  width: 650px;
  margin: auto;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.comiclist {
  width: 390px;
  padding: 5px 20px;
  border: 2px dashed #bbb;
  margin: auto;
  text-align: left;
}

.footsie {
  width: 70%;
  margin: auto;
}
